body{
    background-color: rgba(255, 252, 252, 0.991);
}
.content{
    margin:0;
    margin-top: 100px;
    margin-left: 550px;
    margin-right: 550px;
    margin-bottom: 50px ;
    height:780px;
    display:grid;
    grid-template-columns: 500px;
    background-color: rgba(1,1,1,255);
    border-style: solid;
    justify-content: center;
    border: 10px solid rgb(113, 113, 113);
    border-radius: 50px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.upper{
    padding:115px;
    position:relative;
}
.show{
    color:rgba(233,233,233,255);
    font-size: 60px;
    height:50px;
    position:absolute;
    top:50px;
    right: 90px;
}
.answer{
    color:rgba(233,233,233,255);
    height:50px;
    position:absolute;
    font-size:30px;
    top:136px;
    right: 90px;
}
.image{
    position:absolute;
    bottom:0px;
    right:70px;
}
.size{
    margin-top:15px;
    margin-right:3px;
    height:60x;
    width:60px;
}
#back-circle{
    height:80px;
    width:80px;
    border-radius: 50%;
    border-style: none;
    background-color: rgba(1,1,1,255);
}
.line{
    margin:0px auto;
    margin-top:5px;
    width:71%;
    height:0.01%;
    border:1px rgba(56,56,56,255) solid;
}
.lower{
    margin:0px auto;

}
.row-align{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.row{
    height:85px;
    width:85px;
    border-radius: 50%;
    border-style: none;
    background-color: rgba(23,23,25,255);
    margin:5px;
    box-shadow: 0px 0px 3px 2px rgb(142, 135, 135);
    position: relative;
}
.symbol{
    color:white;
    font-size: 33px;
    margin:0;
    margin-top:3px;
}
.clicked{
    box-shadow: 0 0 20px rgb(72, 68, 68);
    background-color: grey;
}
